<template>
  <div>
    <Alert :show="validacoes.length > 0" :mensagem="validacoes" />
    <b-table striped hover :fields="fields" :items="recursos">
      <template slot="[votar]" slot-scope="data">
        <b-button variant="info" @click="votar(data)">Votar</b-button>
      </template>

      <template slot="[descricao]" slot-scope="data">
        <p>{{ data.item.descricao }}</p>
      </template>

      <template slot="[comentario]" slot-scope="data">
        <b-form-input id="comentario" type="text"
                            v-model="data.item.comentario" required                            
                            placeholder="Comente seu voto" />
      </template>
    </b-table>
    <Loading v-if="loading" />
  </div>
</template>

<script>
import { baseApiUrl, showError } from "@/global";
import Loading from "@/components/template/Loading";
import axios from "axios";
import Alert from "@/components/util/Alert";

export default {
  components: { Loading, Alert },
  data() {
    return {
      loading: false,      
      recursos: [],      
      validacoes: '',
      fields: [
        { key: "descricao", label: "Descrição" },
        { key: "comentario", label: "Comentário" },
        { key: "votar", label: "Votar" }
      ]
    };
  },
  methods: {
    votar(data) {
      this.validar(data.item)      
      if (this.validacoes.length > 0){          
          return
      }
      this.loading = true;
      const url = `${baseApiUrl}/voto`;
      axios
        .post(url, this.montaVoto(data.item))
        .then(res => {
          res
          this.$toasted.global.defaultSuccess();           
          this.loading = false;
        })
        .catch(e => {
          showError(e);
          this.loading = false;
        });
    },
    montaVoto(recurso){
        return {
            comentario: recurso.comentario,
            idRecurso: recurso.id,
            idUsuario: this.$store.state.user.id
        }
    },    
    validar(recurso){
        this.validacoes = ''
        if(recurso.comentario === undefined || recurso.comentario.length == 0){
            this.validacoes = "O preenchimento do comentario é obrigatorio"
        }        
    },
    findAllRecursos() {
      this.loading = true;
      const url = `${baseApiUrl}/recurso/findAll`;
      axios
        .get(url)
        .then(res => {
          this.recursos = res.data;
          this.loading = false;
        })
        .catch(e => {
          showError(e.message);
          this.loading = false;
        });
    }
  }, 
  created() {
    this.findAllRecursos();
  }
};
</script>