<template>
    <div class="home">
        <PageTitle icon="fa fa-home" main="Dashboard" />        
        <div class="stats">
        </div>
    </div>
</template>

<script>
import PageTitle from '../template/PageTitle'
//import axios from 'axios'
//import { baseApiUrl } from '@/global'


export default {
    name: 'Home',
    components: { PageTitle },
    data() {
        return {
            stat: {},           
        }
    }
}
</script>

<style>
    .stats {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
</style>
