<template>
  <div>
    {{isAdmin}}
    <b-tabs pills card>
        <!-- TAB Votos Recursos -->
        <b-tab title="Votos" active>      
          <b-container fluid class="text-center">
            <b-row v-for="recurso in recursos" v-bind:key="recurso.id" class="mb-3">
              
              <b-col md="6" offset-md="3">
                <h4>Recurso:</h4>
                <p>{{recurso.descricao}}</p>
                <div class="border border-dark rounded">
                  <h4>Quantidade de Votos:</h4>
                  <p>{{recurso.votos.length}}</p>
                  <b-table striped hover :fields="fields" :items="recurso.votos" :empty-text="'Não existem votos para esse recurso'" show-empty>            
                    <template slot="[data]" slot-scope="data">
                      <p>{{ formatDate(data.item.data) }}</p>
                    </template>
                  </b-table>
                </div>
              </b-col>              
            </b-row>
          </b-container>
        </b-tab>

        <b-tab title="Cadastrar Recurso" :disabled="!isAdmin">
          <b-container fluid class="text-center">
            <b-row class="mb-3">
              <b-col md="6" offset-md="3">
                <b-row class="my-1">
                  <b-col sm="2">
                    <label for="nome">Descrição:</label>
                  </b-col>
                  <b-col sm="10">
                    <b-form-input id="nome" type="text" v-model="recurso.descricao"/>
                  </b-col>
                </b-row>
                <b-btn-group class="mt-3">
                  <b-button variant="primary" @click="salvar()">Salvar</b-button>
                </b-btn-group>
              </b-col>
            </b-row>
          </b-container>
        </b-tab>

    </b-tabs>

    <Loading v-if="loading" />
  </div>
</template>

<script>
import { baseApiUrl, showError } from "@/global";
import Loading from "@/components/template/Loading";
import axios from "axios";
import Alert from "@/components/util/Alert";

export default {
  name: "Recurso",
  components: { Loading, Alert },
  data() {
    return {
      loading: false,
      recursos: [],
      validacoes: '',
      recurso: {},
      isAdmin: false,
      fields: [
        { key: "usuario.userName", label: "Usuario" },
        { key: "comentario", label: "Comentario" },
        { key: "data", label: "Data Votação" },
      ]
    };
  },
  methods: {
    findAllRecursos() {
      this.loading = true
      const url = `${baseApiUrl}/recurso/findAll`
      axios
        .get(url)
        .then(res => {
          this.recursos = res.data
          this.loading = false
        })
        .catch(e => {
          showError(e.message)
          this.loading = false
        });
    },
    formatDate(data){      
      return new Date(data).toLocaleString('pt-BR')
    },
    salvar(){      
      axios.post(`${baseApiUrl}/recurso`, this.recurso).then(res => {
          this.recurso = res.data
          this.recurso = {}
          this.$toasted.global.defaultSuccess()
          this.loading = false
      }).catch((e) => {
          showError(e.message)
          this.loading = false
      })
    } 
  }, 
  created() {
    this.findAllRecursos()
    this.isAdmin = this.$store.state.user.isAdmin
  }
};
</script>