<template>
    <div class="text-center my-3">        
        <b-spinner style="width: 3rem; height: 3rem; justify-content-center;" label="Large Spinner" type="grow"></b-spinner>
    </div>        
</template>

<script>
export default {
    name: 'Loading'
}
</script>

<style>
</style>
