<template>
  <div>
    <b-alert
      :show="show"
      dismissible
      variant="warning"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      {{ mensagem }}
    </b-alert>    
  </div>
</template>

<script>
  export default {
    props: {       
        mensagem: '',
        show: false
    },
    data() {
      return {        
        dismissSecs: 5,
        dismissCountDown: 0
      }
    },
    methods: {
      countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
      },
      showAlert() {
        this.dismissCountDown = this.dismissSecs
      }
    }
  }
</script>