<template>
  <div>
    <b-modal ref="modal" hide-footer>
      <div class="d-block text-center">
        <h3>{{title}}</h3>
      </div>
      <b-button class="mt-3" variant="outline-danger" block @click="answerYes">Sim</b-button>
      <b-button class="mt-2" variant="outline-warning" block @click="answerNo">Não</b-button>
    </b-modal>
  </div>
</template>

<script>
export default {
    name: 'ModalAnswer',
    props: {
      show: Boolean, 
      title: String,
    },
    methods: {
      answerYes(){
        this.$emit('enswer-yes')
      },
      answerNo(){
        this.hideModal()
      },
      hideModal() {
        this.$refs['modal'].hide()
      },
      showModal() {
        this.$refs['modal'].show()
      },
    },
}
</script>